@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #f4f4f5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .input{
    @apply block w-full rounded-md border-0 
    py-1.5 px-4 text-gray-900 
    ring-1 ring-inset ring-gray-300 
    placeholder:text-gray-400 
    focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
  }
}

